@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "League Spartan", sans-serif;
}

::selection {
    color: #019b9b;
    background: #F4BE2C;
}

::-moz-selection {
    color: #019b9b;
    background: #F4BE2C;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    /* background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%); */
    background-color: #ade8f4;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 100px;
    background-color: #019b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    border-radius: 0px 40px 65px 0px;
}

.undersidebar {
    height: 100vh;
    width: 100px;
}

.icon {
    height: 17vh;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-radius: 38px;
}

.introduction {
    position: absolute;
    height: 60vh;
    width: 50vw;
    left: 25%;
    top: 160px;
    background-color: #F4BE2C;
    border-radius: 8em 4em 16em / 2em 12em;
}

.dashboard {
    color: #089BAB;
    background-color: white;

}

.changetores {
    display: block;
}

.chnagetocontrol {
    display: none;
}

.result {
    height: 100vh;
    width: 400px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#table {
    border: 2px solid black;
    border-collapse: collapse;
}

#table th {

    border: 2px solid black;
    border-collapse: collapse;

}

#table td {
    border: 2px solid black;
    border-collapse: collapse;
}

/* .officialChart > th{
    border: 2px solid black;
    border-collapse: collapse;
}
.officialChart > td{
    border: 2px solid black;
    border-collapse: collapse;
} */

.account-Btn {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.profile {
    height: 200px;
    width: 300px;
    background-color: rgb(250, 241, 250);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px gray;
}

.profile hr {
    border: 0;
    background-color: rgb(177, 175, 175);
    height: 1px;
    width: 80%;
}

.start {}

.userimg>img {
    width: 80px;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #9f9d9f;
    position: absolute;
    top: 2.5%;
    left: 16.8%;
}

.username {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 600;
}

.useragegender {
    color: gray;
}

.resulthead {
    margin-top: 12px;
    font-size: 18px;
}

.earname {
    font-size: 15px;
    color: #37afbc;
    font-weight: 600;
}

.earproblem {
    font-size: 18px;
    font-weight: 600;
}

.summery {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}

.earresult {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    height: 350px;
    width: 300px;
    background-color: rgb(250, 241, 250);
    border-radius: 25px;
    box-shadow: 0px 10px 20px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlsection{
  height: 100%;
  width: 100%;
}


.controlbtn{
height: 100%;
width: 100%;
display: flex;
/* background-color: red;
opacity: 0.4; */
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}


.col {
    background-color: #43d0e0;
}

.control {
    height: 80px;
    width: 250px;
    background-color: #43d0e0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.control:hover {
    background-color: #3dbecc;
}

.control:active {
    background-color: #37afbc;
    transform: scale(1.01);
    color: azure;
}



.screen {
    width: calc(100vw - 500px);
    background-color: #30c2c2;
    border-radius: 50px 0px 0px 50px;
}

.heading {
    height: 50px;
    padding: 12px 0px 0px 60px;
    display: flex;
    color: #F5B70F;
    align-items: end;
    font-size: 30px;
}
.heading h2{
    text-shadow: 2px 2px 1px #138282;
}

.meters {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.none {
    display: none;
}

.meter-box {
    background-color: orange;
    height: 150px;
    width: 270px;
    border-radius: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.count {
    height: 50px;
    font-size: 45px;
    text-align: center;
}

.unitName {
    font-size: 20px;
    font-weight: 500;
}

.unit {
    text-align: center;
    margin: 0px 0px 4px 4px;
}

.firstsection {
    width: 35%;
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 230px);
    width: calc(100vw - 500px);
}

.chart {
    width: 70%;
}

canvas {
    /* width: 50%; */
}
svg{
    position: absolute;
  left: 40%;
  top: 35%;
}

.ins {
    height: 80vh;
    width: 400px;
    background-color: aquamarine;
}